body {
      margin: 0px;
      color: white;
      background: black;
      font-family: Google Sans;
}
header {
      background: #5be4b3;
      color: black;
      zoom: 125%;
}
main {
      zoom: 175%;
      height: 370px;
}
b  {
      color: #5be4b3;
}
.titleHeading {
      width: 450px;
}
a {
      color: #5be4b3;
}
section {
      text-align: center;
      background: #404040;
      margin: 20px;
      border-radius: 20px;
}
#blog {
      text-align: center;
      background: #5be4b3;
      color: black;
      margin: 20px;
      height: 400px;
      border-radius: 20px;
}
footer {
      text-align: center;
      background: #5be4b3;
      color: black;
      margin: 20px;
      border-radius: 20px;
}
button {
      background-color: black;
      color: white;
      height: 40px;
      width: 500px;
      border-radius: 10px;
      border: 0ch;
}
img {
      border-radius: 20px;
}
.wikipediaImg {
      height: 300px;
}
